<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.example.tiendasgeinzadmin.TiendasGeinzAplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiendasGeinzAdmin"
        tools:targetApi="31">
        <activity
            android:name="com.example.tiendasgeinzadmin.Fragmentos.vistas.aceptar_rechazar_pedidos_generales"
            android:exported="false" />
        <activity
            android:name="com.example.tiendasgeinzadmin.editarPerfil"
            android:exported="false" />
        <activity
            android:name="com.example.tiendasgeinzadmin.Horarios_tienda"
            android:exported="false" />
        <activity
            android:name="com.example.tiendasgeinzadmin.agregarQrPagos"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Fragmentos.vistas.cambar_estado_designar_delivery"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Articulos"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".review"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Principal"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="INICIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_geinz_circular" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/yellow" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notificacion_chanel_id_defaul" />
    </application>

</manifest>